<%= provide(:title, 'Help') %>
<h1>FAQ</h1>
<p>
	<span class="question">Question: </span>When will this specimen of a website launch?
	<br>
	<span class="answer">Answer: </span>As soon as possible!
</p>
<p>
	<span class="question">Question: </span> What can this website do?
	<br>
	<span class="answer">Answer: </span> All of the things!
</p>
