<div class="call-out">
	<h1 id="all-posts-hl" class="center">All Posts</h1>
</div>

<ul class="posts" id="posts_index">
	<% if @posts.any? %>
		<%= render @posts %>
		<%= will_paginate %>
	<% end %>
</ul>
<div id="pi_test"></div>