<footer>
	<div class="container">
		<div class="byline">
			<p>
				<span id="brand">jehddit</span> by <span id="name">John Howlett</span>
			</p>
		</div>
		<ul>
			<li><%= link_to "about", about_path %></li>
			<li><%= link_to "contact", contact_path %></li>
		</ul>
	</div>
</footer>